.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  color: white;
  background-color: rgba(7, 7, 7, 1);
}

.logo {
  font-size: 36px;
  font-family: "Bebas Neue";
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 24px;
}

.menu-ul > li {
  cursor: pointer;
  font-family: "Bebas Neue";
}
